 .container {
  display: flex;
  flex-direction: column-reverse;
  justify-content:flex-start;
  height: 100vh;
  flex-wrap: wrap;
}
* {
  height: 500px;
}

.item-1 {
  border: 1px solid green;
  background-color: green;
}

.item-2 {
  border: 1px solid blue;
  background-color: blue;
}
.item-3 {
  border: 1px solid yellow;
  background-color: yellow;
}
.item-4 {
  border: 1px solid red;
  background-color:red ;
}

.item-5 {
  border: 1px solid pink;
  background-color:pink ;
}
.item-6 {
  border: 1px solid purple;
  background-color: purple;
}
